.banner-color-bg{
    display: block;
    height: 78px;
}
.banner-title{
    font-size: 16px;
    color: $secondary;
    background-color: $primary;
    transition: ease-in .3s;
    backdrop-filter: blur(5px);
    opacity: .8;
    &:hover{
        backdrop-filter: blur(10px);
        background-color: rgba($color: $primary, $alpha: .4);
    }
}