.hero-bg-cover-1{
    height: 490px;
    background-position: center 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    @media (min-width:576px) {
        height: 810px;
        background-position: center 1px;
        background-size: 55%;
    }
}
.hero-bg-cover-2{
    height: 490px;
    background-position: center 135px;
    background-size: 150%;
    background-repeat: no-repeat;
    @media (min-width:576px) {
        height: 810px;
        background-position: center 130px;
        background-size: 80%;
    }
}
